// this is scss file, use Live SASS Compile to compile it to css, later only need to change button.css
a.markdown-btn {
    font-size: inherit;
    font-family: inherit;
    color: var(--font-color);
    background-color: var(--md-bg-color-dark);
    border-radius: 5px;
    text-align: center;
    padding: 5px 1em 5px 1em;
    text-decoration: none;
    border: none;
    cursor: pointer;
  
    &:hover,
    &:active {
      text-decoration: none;
      background-color: var(--primary-color);
      color: var(--bg-color);
    }
}